@mixin text($ff, $fw, $fz, $lh, $c){
   font-family: $ff;
   font-weight: $fw;
   font-size: $fz;
   line-height: $lh;
   color: $c;
}

.aside {
}
@media (max-width:1120px){
   .aside{
      height: 64px;
      background: #EFEEF6;
   }
}
.aside__list {
   max-width: 415px;
   background: #EFEEF6;
   padding-left: 155px;
   padding-top: 45px;
   padding-bottom: 80px;
   li:last-child{
      margin-bottom: 0px;
   }
}
@media (max-width:1120px){
   .aside__list{
      height: 64px;
      max-width: 100%;
      padding: 24px 0 0 0px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      margin-left: 25px;
   }
}
.aside__link {
   @include text('Montserrat', 500, 12px, 14.63px, #5C6A79);
   text-transform: capitalize;
   max-width: 200px;
   margin-bottom: 23px;
   cursor: pointer;
   transition: 0.5s;
   &:not(.aside__link-active):hover{
      font-size: 14px;
      color: #373f48 ;
   }
}
@media (max-width:1120px){
   .aside__link{
      display: inline-block;
      margin-right: 16px;
   }
}
.aside__link-active{
   font-weight: 700;
   font-size: 16px;
   line-height: 19.5px;
   text-transform: capitalize;
   color: #1C2A39;
   margin-left: -23px;
   transition: 1.5s;
   &::before{
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #756AD3;
      margin-right: 16px;
      margin-bottom: 2px;

   }
}
@media (max-width:1120px){
   .aside__link-active{
      @include text('Montserrat', 700, 12px, 16px, #1C2A39);
      margin-left: 0;
      &::before{
         content: '';
         margin-right: 5px;
         
      }
   }
}

